<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCop RuleSet" Description="" ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1009" Action="None"/>
    <Rule Id="SA1111" Action="None"/>
    <Rule Id="SA1633" Action="None"/>
  </Rules>
</RuleSet>